<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>MicroSNS</title>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      $(function () {
        $("#header").load("./templates/header.html");
        $("#head").load("./templates/head.html");
        $("#footer").load("./templates/footer.html");
      });
    </script>
  </head>
  <div id="head"></div>
  <body>
    <div id="header"></div>
    <nav>
      <ul class="main-nav">
        <li class="opened"><a href="index.html">最新</a></li>
        <li><a href="./area.html">地域</a></li>
        <li><a href="./organism.html">生物</a></li>
        <li><a href="./enviroment.html">環境</a></li>
        <li><a href="./question.html">質問</a></li>
        <li><a href="./about.html">About</a></li>
      </ul>
    </nav>
    <main>
      <div id="app" class="article-bundle">
        <article v-for="article in articles" class="article-main">
          <section>
            <div class="article-information">
              <div class="basic-information">
                <p class="user-information">{{article.user_name}}</p>
                <div class="information-bundle">
                  <p class="sub-information">投稿日:{{article.posted_date}}</p>
                  <p class="sub-information">更新日:{{article.update_date}}</p>
                </div>
                <h1 class="title-article">
                  <a v-bind:href="article.url" class="title-link"
                    >{{article.title}}</a
                  >
                </h1>
                <div class="link-image"></div>
                <div class="information-bundle">
                  <p class="sub-information">採取場所:{{article.address}}</p>
                  <p class="sub-information">環境:{{article.environment}}</p>
                </div>
              </div>
              <div class="pictures-gallery">
                <img
                  v-for=" picture in article.microscope_pictures"
                  v-bind:src="picture.picture"
                  v-bind:alt="picture.japanese_name"
                />
              </div>
            </div>
          </section>
        </article>
      </div>
      <script src="./app.js"></script>
      <aside class="sidebar-main">
        <article class="aside">
          <section>
            <h1 class="title-sidebar">ランキング</h1>
          </section>
          <section>
            <h1 class="title-section">登録生物ランキング</h1>
            <p>未実装</p>
          </section>
          <section>
            <h1 class="title-section">登録地域ランキング</h1>
            <p>未実装</p>
          </section>
          <section>
            <h1 class="title-section">登録環境ランキング</h1>
            <p>未実装</p>
          </section>
        </article>
      </aside>
    </main>
    <div id="footer"></div>
  </body>
</html>
