<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>顕微鏡写真SNS</title>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      $(function () {
        $("#header").load("./templates/header.html");
        $("#nav").load("./templates/nav.html");
        $("#head").load("./templates/head.html");
        $("#footer").load("./templates/footer.html");
      });
    </script>
  </head>
  <div id="head"></div>
  <body>
    <div id="header"></div>
    <nav>
      <div id="nav"></div>
    <main>
      <div id="app" class="article-bundle">
        <article v-for="article in articles" class="article-main">

        </article>
      </div>
      <script src="./app.js"></script>
      <!--
      <aside class="sidebar-main">
        <article class="aside">
          <h1 class="title-article">ランキング</h1>
          <section><h1 class="title-section">登録生物ランキング</h1></section>
          <section><h1 class="title-section">登録地域ランキング</h1></section>
          <section>
            <h1 class="title-section">登録環境ランキング</h1>
          </section>
        </article>
        <article class="aside">
          <h1 class="title-article">おすすめ記事</h1>
          <section><h1 class="title-section">その１</h1></section>
        </article>
      </aside>
      --->
    </main>
    <div id="footer"></div>
  </body>
</html>
