:root {
  --main-bg-color: #416396;
  --table-bg-color:#D7E1D0;
  --information-font-color:darkgray;
  --table-th-bg-color:#8ED7AB;
  --warning-bg-color: #F7C3C5;
  --border-color: #8ED7AB;
  --background-color:#D7E1D0;
  --backgroud-nav-color:#416396;
  --header-bg-color:#416396;
  /*#FFFFEB*/
  /*#E9F6A7*/
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--background-color);
}

header h1 {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  color: white;
  background-color: var(--header-bg-color);
  font-size: 40px;
}

.wall-paper{
  display: flex;

}

header h2{
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  color: white;
  background-color: var(--header-bg-color);
  font-size: 15px;
  border: 0;
}

/*TODO index.htmlの検索欄の位置を修正。*/
header{
  display: flex;
  background-color: var(--header-bg-color);
}

header input {
  margin: auto 30px auto 0px;
  height: 30px;
  width: 200px;
}

nav {
  background-color: var(--backgroud-nav-color);
  display: flex;
  margin: auto auto 0px 40px;
}

ul{
  list-style-type:disc;
}

ul.main-nav {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: 0px ;
}

ul.main-nav li {
  padding: 5px 10px 5px 10px;
  border-bottom: solid 5px var(--backgroud-nav-color);
}

ul.main-nav li.opened {
  border-bottom: solid 5px var(--border-color);
  border-style:dashed;
}

ul.main-nav a {
  display: block;
  background-color: var(--main-bg-color);
  color: #f5f6f6;
  text-align: center;
  text-decoration: none;
}

header a{
  text-decoration: none;
  color: white;
}

ul.main-nav a:hover {
  color: white;
}

.link_top {
padding: 5px;
margin-bottom: 10px;
}
.link_top a{
  color:black;
    text-decoration: none;
}

.link_top:hover h1{
  color: var(--main-bg-color);
  transition:  0.3s;
}

.navigation-wrap{
  display: flex;
  width: 100%;
}

.language-selector-wrap{
    margin: auto 30px 35px auto;
}

.language-selector{
  margin-top: auto;
  margin-bottom: 0px;
}

main {
  background-color: white;
  padding: 30px;
  margin-top: 25px;
  border-bottom: solid 5px var(--border-color);
}

.side-bar {
  background-color: white;
  border-bottom: solid 5px var(--border-color);
  margin-top: 25px;
}

.side-bar-h1{
  padding-top: 20px;
  padding-left: 25px;
}

aside p{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}

th{
  padding: 10px;
  background-color: var(--table-th-bg-color);
}


td {
  padding: 10px;
}

tr:nth-child(odd){
  background-color: var(--table-bg-color);
}

/*article h1*/
h1{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
h2{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: solid 1px var(--background-color);
  font-size: 23px;
  font-weight: bold;
}
h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.article-list{
  margin-left: 30px;
  padding: 2px 0px 0px 2px;
}

a.annation{
  text-decoration: none;
  color:var(--information-font-color);
}

/*TODO aタグのクリック後のデザインを変更。*/

img{
  height: 120px;
  margin-right: 20px;
}

.garary {
  display: flex;
}

.picture-gallery{
  display: flex;
}

.sub-information {
  color: var(--information-font-color);
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.user-information {
  padding-top: 5px;
  font-size: 15px;
}
.information-bundle {
  display: flex;
}

.page-title {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}

p{
  line-height: 25px;
}

a.title-link {
  color: black;
  text-decoration: none;
}

a.title-link:hover {
  color: black;
  text-decoration: underline;
}



main.about {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


.table-of-contents ul li{
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

footer {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 50px 0;
  background-color: var(--main-bg-color);
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 840px) {

  .wall-paper{
    display:block;
  }
  header{
    display:block;
  }
  nav{
    margin-left: 0px;
  }
  main{
    width: 90%;
    margin-left: 0px;
    padding: 5%;
  }
  .side-bar{
    width: 100%;
    margin-left: 0px;
  }
  .search-form{
    display: none;
  }
  ul.main-nav {
    padding-left: 0px;
  }
}

@media screen and (min-width: 840px) {
  .wall-paper {
      display: flex;
    }
  main{
    width: 60%;
    margin-left: 2.5%;
  }
  .side-bar{
    width: 27.5%;
    margin-left: 2.5%;
  }
  .article-information {
    display: flex;
  }
}
