:root {
  --main-bg-color: #3fddc1;
  --warning-bg-color: #d56c06;
  --border-color: #45af2a;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f5f6f6;
}

/*header*/
header h1 {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: var(--main-bg-color);
  font-size: 30px;
}

/*nav*/
nav {
  background-color: var(--main-bg-color);
}

ul.main-nav {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.main-nav li {
  width: 27%;
}

ul.main-nav li.opened {
  border-bottom: solid 5px var(--border-color);
}

ul.main-nav a {
  display: block;
  margin: 2px;
  padding: 10px;
  background-color: var(--main-bg-color);
  color: #f5f6f6;
  text-align: center;
  text-decoration: none;
}

ul.main-nav a:hover {
  color: white;
}

article {
  background-color: white;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #333;
}

/*article h1*/
h1.title-article {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

h1.title-sidebar {
  font-size: 20px;
}

h1.title-article-in-text{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

img {
  height: 70px;
  padding: 10px;
}

.pictures-main{
  display: flex;
}

.picture-gallery{
  display: flex;
}
.picture-and-information img{
  height: 150;
}
.picture-and-information img:hover {
  height: 400;
}

.sub-information {
  color: darkgray;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
}

.user-information {
  padding-top: 5px;
  font-size: 15px;
}
.information-bundle {
  display: flex;
}

section {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

section h1 {
  padding-bottom: 10px;
}

section h1.section-title-in-text{
  font-size: 25px;
}

a.title-link {
  color: black;
  text-decoration: none;
}

a.title-link:hover {
  color: black;
  text-decoration: underline;
}

article {
  margin-top: 25px;
  border-bottom: solid 5px var(--border-color);
}

article.about {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-weight: bold;
}


.table-of-contents ul li{
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

footer {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 50px 0;
  background-color: var(--main-bg-color);
  color: white;
}

@media screen and (min-width: 480px) and (max-width: 840px) {
  article.article-main {
    width: 100%;
  }
  aside.sidebar-main {
    width: 100%;
  }
}

@media screen and (min-width: 840px) {
  main {
    display: flex;
  }
  .article-bundle {
    width: 70%;

    margin-left: 2%;
  }
  article.article-main {
    margin-bottom: 25px;
    width: 100%;
  }
  aside.sidebar-main {
    margin-left: 2%;
    margin-right: 2%;
    width: 22%;
  }
  .article-information {
    display: flex;
  }
}
